footer.footer-container {
    background-color: var(--background-color-secondary);
    display: flex;
    justify-content: end;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
}