/** Preview */

.masonry-layout-static {
    display : grid;
    /** 3 columns with respect to gap */
    grid-template-columns: repeat(auto-fill, minmax(calc(33% - 8px), 1fr));
    /** 6 rows, so that we can fit a combination of items of spans adding up to 6 rows long in each column */
    grid-template-rows: repeat(6, 1fr);
    gap : 8px;
}

.masonry-layout-static .masonry-item {
    border: 1px solid black;
}

.masonry-item.tall { grid-row: span 3; }
.masonry-item.medium {grid-row: span 2; }
.masonry-item.short {grid-row: span 1; }

/** Main */