.sidebar-layout {
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
    "aside header"
    "aside body"
    "aside body"
}

.sidebar-layout header {
    border: 1px solid var(--background-color-primary);
    grid-area: header
}
.sidebar-layout aside {
    border : 1px solid var(--background-color-primary);
    border-right : 0px;
    grid-area: aside
}
.sidebar-layout section {
    border: 1px solid var(--background-color-primary);
    border-top : 0px;
    grid-area: body
}
