.main-grid-tile-link {
    margin-top: 24px;
}

.main-grid-tile {
    display: grid;
    grid-template-rows: 4fr 1fr;
}

.main-grid-tile figcaption {
    text-align: center;
}

.main-grid-tile .preview {
   width: 240px;
   height: 240px; 
}

.main-grid-tile .preview > main {
    border : 1px solid black;
    padding: 24px;
}

.grid-preview {
    cursor: pointer;
}
