.main-grid-tile-link {
    display : block;
    height : 100%;
    width: 100%;
}

.main-grid-tile {
    display: grid;
    grid-template-rows: 4fr 1fr;
}

.main-grid-tile figcaption {
    text-align: center;
}

.main-grid-tile .preview {
   width: 240px;
   height: 240px; 
}
