.main-grid-tile-container {
    display: grid;
    row-gap: 1rem;
    grid-template-rows: minmax(auto, 4fr) auto;
    height: 100%;
    width: 100%;
}

.main-grid-tile-link {
    margin-top: 1.5rem;
}

.main-grid-tile {
    margin : 0;
}

.main-grid-tile .preview {
    height: 100%;
    width: 100%;
}

.main-grid-tile .preview > main {
    border : 1px solid black;
    padding: 1.5rem;
}

.grid-preview {
    height: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.grid-preview > *:first-child {
    height: 100%;
}
