---
import Layout from "../layouts/Layout.astro";
import MainGridTile from "../components/MainGridTile.astro";
import HolyGrail from "../components/grids/HolyGrail.astro";
import Sidebar from "../components/grids/Sidebar.astro";
import MasonryStatic from "../components/grids/masonry/MasonryStatic.astro";

type MainGridTileData = {
	name: string;
	Component: any;
	link: string;
};

const grids: MainGridTileData[] = [
	{ name: "Holy Grail", Component: HolyGrail, link: "/holy-grail" },
	{ name: "Sidebar", Component: Sidebar, link: "/sidebar" },
	{ name: "Masonry", Component: MasonryStatic, link: "/masonry" },
];
---

<Layout>
	<section class="grid-container">
		{
			grids.map(({ name, Component, link }) => {
				return <MainGridTile name={name} Component={Component} link={link} />;
			})
		}
	</section>
</Layout>
