---
// This is a static version of a masonry layout,
// With no need for JS as we will know the item heights ahead of time.
import "../../../styles/masonry.css";

// If you look at the array as a column, each column's span adds up to 6 - which is the number of rows in the grid.
const items = [
	"tall", "short", "medium",
	"medium", "tall", "tall",
	"short", "medium", "short",
];
---

<section class="masonry-layout-static preview">
	{
		items.map((height, i) => (
			<section class={`masonry-item ${height}`}>&nbsp;</section>
		))
	}
</section>
