---
import "../styles/tile.css";
const { name, Component, link } = Astro.props;
---

<section class="main-grid-tile-container">
	{
		Component ? (
			<section class="grid-preview" data-href={link}>
				<Component preview={true} />
			</section>
		) : (
			<div class="grid-preview">abc</div>
		)
	}
	<section>
		<span class="main-grid-tile-link">
			<a href={link}>{name}</a>
		</span>
	</section>
</section>

<script>
	const previewContainers = [
		...document.querySelectorAll(".grid-preview"),
	] as HTMLElement[];

	previewContainers.forEach((container) => {
		container.addEventListener("click", () => {
			const { href = "" } = container.dataset;
			if (href) window.location.href = href;
		});
	});
</script>
