---
import "../../styles/holygrail.css";
const { preview = false } = Astro.props;
---

<section class={`holy-grail-layout ${preview ? "preview" : ""}`}>
	<header>H</header>
	<aside>L</aside>
	<section>B</section>
	<aside>R</aside>
	<footer>F</footer>
</section>
