---
import "../../styles/holygrail.css";
const { preview = false } = Astro.props;
---

<section class={`holy-grail-layout ${preview ? "preview" : ""}`}>
	<header>&nbsp;</header>
	<aside>&nbsp;</aside>
	<section>&nbsp;</section>
	<aside>&nbsp;</aside>
	<footer>&nbsp;</footer>
</section>
