---
import "../../styles/sidebar.css";
const { preview = false } = Astro.props;
---

<section class={`sidebar-layout ${preview ? "preview" : ""}`}>
	<header>&nbsp;</header>
	<aside>&nbsp;</aside>
	<section>&nbsp;</section>
</section>
