---
import Head from "./Head.astro";
import Footer from "./Footer.astro";
import "../styles/main.css";
---

<html>
	<Head />
	<body>
		<main>
			<section class="content">
				<slot />
			</section>
		</main>
	</body>
</html>
